* {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

Body {
  margin: 0;
}

header {
  height: 130px;
  width: 100%;
  background-color: #fc2947;
  display: flex;
}

.contenedor-izq {
  height: 130px;
  width: 30%;
}

.contenedor-cent {
  width: 35%;
  display: grid;
  align-items: center;
}

.contenedor-der {
  align-items: center;
  margin: auto;
  display: flex;
}

.second_main {
  background-color: #f5cad8;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.second_main ul {
  margin: 5px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.second_main li {
  padding: 8px;
  font-size: 18px;
  color: #f93548;
  cursor: pointer;
  transition: all 500ms ease;
}

.second_main li:hover {
  transform: scale(1.1);
}

.form1 input {
  font-size: 18px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.saludo {
  color: #f5cad8;
  text-align: center;
  margin-left: 50px;
}

.saludo h4 {
  font-size: 21px;
  margin-bottom: 0px;
}

.carrito {
  display: grid;
  color: #f5cad8;
  margin-left: 80px;
  text-align: center;
  cursor: pointer;
}

.contenedor-der .saludo span {
  cursor: pointer;
}

.mujeres_central {
  
  display: inline-flex;
  margin-left: 40%;
}

section {
  display: flex;
}

.contenedor-registro {
  margin-left: 40px;
  margin-top: 40px;
  height: 350px;
  width: 35%;
  background-color: #FFF;
  padding: 10px;  
}

.contenedor-temporizador {
  margin-right: 10px;
  margin-top: 40px;
  height: 350px;
  width: 65%;
}