* {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
:root {
  --ColorFondo: #f2f2f2;
  --ColorHeader: #fc2947;
  --ColorSaludo: #f5cad8;
  --ColorBlanco: #fff;
  --ColorParrafos: #c12d4c;
}
h3 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}
.Pagina {
  margin: 0;
  background-color: var(--ColorFondo);
}

header {
  height: 130px;
  width: 100%;
  background-color: var(--ColorHeader);
  display: flex;
}

.contenedor-izq {
  height: 130px;
  width: 30%;
}

.contenedor-izq img {
  height: 85px;
  cursor: pointer;
}

.contenedor-cent {
  width: 35%;
  display: grid;
  align-items: center;
}
.form1 input {
  font-size: 18px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.lupa {
  height: 50px;
  margin-left: -70px;
}

.contenedor-der {
  align-items: center;
  margin: auto;
  display: flex;
}

.saludo {
  color: var(--ColorSaludo);
  text-align: center;
  margin-left: 50px;
}

.saludo h4 {
  font-size: 21px;
  margin-bottom: 0px;
}

.contenedor-der .saludo span {
  cursor: pointer;
}

.carrito {
  display: grid;
  color: #f5cad8;
  margin-left: 80px;
  text-align: center;
  cursor: pointer;
}

.carrito img {
  height: 30px;
  margin: 15px;
}

.ajuste {
  margin-top: -10px;
}

.Seleccion-carro {
  color: var(--ColorBlanco);
}

.second_main {
  background-color: var(--ColorSaludo);
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.second_main ul {
  margin: 5px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.second_main li {
  padding: 8px;
  font-size: 18px;
  color: var(--ColorHeader);
  cursor: pointer;
  transition: all 500ms ease;
}

.second_main li:hover {
  transform: scale(1.1);
}

section {
  display: flex;
}
.seccion-izq {
  height: 400px;
  width: 35%;
}
.seccion-der {
  height: 400px;
  width: 65%;
}

p {
  margin-top: 0;
  color: var(--ColorParrafos);
  font-size: 17px;
  height: 30px;
  font-weight: bolder;
}

.primertexto {
  height: 50px;
  width: 400px;
  margin: 45px 20px 45px 20px;
}

.segundotexto {
  height: 50px;
  width: 400px;
  margin: 15px;
}

.separador {
  height: 10px;
  width: 400px;
  margin: 30px 45px 30px 20px;
}

.contenedor-registro {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin-left: 110px;
  margin-top: 40px;
  height: 350px;
  width: 70%;
  background-color: var(--ColorBlanco);
  border-style: solid;
  border-color: hsla(0, 2%, 16%, 0.041);
  border-radius: 40px;
  position: relative;
  box-shadow: inset -10px -10px #cf959b;
}
.boton-registro {
  height: 63px;
  width: 230px;
  background-color: var(--ColorHeader);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}
.text-register {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  text-align: center;
  color: var(--ColorBlanco);
  font-weight: bolder;
  padding: 13px;
}
.contenedor-temporizador {
  margin-top: 40px;
  margin-left: 35px;
  height: 350px;
  width: 90%;
  border-style: solid;
  border-color: hsla(0, 2%, 16%, 0.041);
  border-radius: 40px;
  position: relative;
  box-shadow: inset -10px -10px #cf959b;
  background-color: var(--ColorBlanco);
}
.contenedor-textTemp {
  height: 80%;
  width: 70%;
}
.text-temp {
  color: #c12d4c;
  margin-left: 24px;
  font-weight: bolder;
  font-size: 55px;
  text-shadow: 3px 2px 5px #fc2947;
}
.contenedorImgTempo {
  height: 400px;
  width: ;
}
.imagenApp-size {
  height: 430px;
  width: 390px;
  margin-left: 210px;
  margin-top: -59px;
}
.temporizador {
  width: 10%;
}
article {
  margin-top: 40px;
  height: 290px;
  width: 100%;
}
.listaArticle {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin-left: 78px;
  gap: 100px;
}
ul li img {
  height: 210px;
  width: 210px;
  border-style: solid;
  margin-left: 16px;
  margin-top: 17px;
}
.imagenUno {
  height: 250px;
  width: 250px;
  border-style: solid;
  box-shadow: inset -200px -200px 200px 200px;
  color: rgba(174, 23, 19, 5);
}
.imagenUnoText {
  color: #f93548;
  text-align: center;
  margin-top: 40px;
  font-weight: bolder;
  cursor: pointer;
}
.imagenUnoText :hover {
  transform: scale(1.2);
  transition: all 200ms ease;
}
.imagenDos {
  height: 250px;
  width: 250px;
  border-style: solid;
  box-shadow: inset -200px -200px 200px 200px;
  color: rgba(174, 23, 19, 5);
}
.imagenDosText {
  color: #f93548;
  text-align: center;
  margin-top: 40px;
  font-weight: bolder;
  cursor: pointer;
}
.imagenDosText :hover {
  transform: scale(1.2);
  transition: all 200ms ease;
}
.imagenTres {
  height: 250px;
  width: 250px;
  border-style: solid;
  box-shadow: inset -200px -200px 200px 200px;
  color: rgba(174, 23, 19, 5);
}
.imagenTresText {
  color: #f93548;
  text-align: center;
  margin-top: 40px;
  font-weight: bolder;
  cursor: pointer;
}
.imagenTresText :hover {
  transform: scale(1.2);
  transition: all 200ms ease;
}
.imagenCuatro {
  height: 250px;
  width: 250px;
  border-style: solid;
  box-shadow: inset -200px -200px 200px 200px;
  color: rgba(174, 23, 19, 5);
}
.imagenCuatroText {
  color: #f93548;
  text-align: center;
  margin-top: 40px;
  font-weight: bolder;
  cursor: pointer;
}
.imagenCuatroText :hover {
  transform: scale(1.2);
  transition: all 200ms ease;
}
.imagenCinco {
  height: 250px;
  width: 250px;
  border-style: solid;
  box-shadow: inset -200px -200px 200px 200px;
  color: rgba(174, 23, 19, 5);
}
.imagenCincoText {
  color: #f93548;
  text-align: center;
  margin-top: 40px;
  font-weight: bolder;
  cursor: pointer;
}
.imagenCincoText :hover {
  transform: scale(1.2);
  transition: all 200ms ease;
}
@media (min-width: 1024px) {
  section {
    margin-right: -10px;
    gap: 40px;
    width: 100%;
    height: 400px;
  }
  .contenedor-registro {
    width: 430px;
    height: 320px;
    margin-left: 20px;
    padding: 15px;
  }
  .primertexto {
    width: 380px;
    margin-top: 10px;
  }
  .separador {
    width: 340px;
  }
  .segundotexto {
    width: 370px;
  }
  .boton-registro {
    height: 53px;
    width: 220px;
    margin-bottom: -20px;
  }
  .seccion-der {
    height: 400px;
    width: 1200px;
  }
  .contenedor-temporizador {
    width: 100%;
    height: 320px;
    margin-left: -8px;
  }
  .contenedor-textTemp {
    width: 70%;
    height: 313px;
    padding: 30px;
  }
  .text-temp {
    font-size: 38px;
  }
  .imagenApp-size {
    width: 340px;
    height: 381px;
    margin-left: -50px;
    margin-top: -45px;
  }
  .contenedorImgTempo {
    height: 308px;
    width: 30%;
    float: right;
    margin-top: -314px;
  }
  .listaArticle {
    gap: 38px;
    margin-left: -28px;
  }
  ul li img {
    height: 180px;
    width: 200px;
    margin-left: 12px;
    margin-top: 12px;
  }
  .imagenUno {
    height: 170px;
    width: 170px;
    height: 210px;
    width: 230px;
    margin-top: 0;
  }
  .imagenDos {
    height: 210px;
    width: 230px;
    margin-top: 0;
  }
  .imagenTres {
    height: 210px;
    width: 230px;
    margin-top: 0;
  }
  .imagenCuatro {
    height: 210px;
    width: 230px;
    margin-top: 0;
  }
  .imagenCinco {
    height: 210px;
    width: 230px;
    margin-top: 0;
  }
}
